*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 15px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
}
.card img{
    border-radius: 10px;
    margin-bottom: 25px;
}

.card .info h1 {
    font-size: 25px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
} 
.card .info p{
    margin: auto;
    width: 250px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}